# Diretórios gerados automaticamente pelo IDE/compilador
.idea/
bin/
cmake-build-debug/
obj/

# Arquivos auxiliares do CMake
CMakeFiles/
CMakeCache.txt
*.cmake

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Adicionar arquivos específicos do LaTeX ao .gitignore
# Arquivos auxiliares e de log
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

# Outras extensões temporárias
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc*
*.run.xml
svg-inkscape/
seminario.pdf